<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weahter</title>
</head>

<body>
    <div class="main-conetnt">
        {{>header}}
        <p>use this site to get weahter</p>

        <form>
            <input type="text" placeholder="Enter Adrress">
            <button type="submit">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>